.container {
  display: flex;
  flex-wrap: wrap;
}
.aiSpan {
  background: red;
  color: white;
  font-size: large;
  cursor: pointer;
  font-style: italic;
}
.image-container {
  justify-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.button-container {
  display: flex;
  gap: 10px;
}
#text-input {
  width: 80%;
}
.heading {
  align-self: center;
}
